* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

html, body {
  height: 100%;
  min-height: 100%;
}

.img_header {
  background: url(../img/fundo_header_instalacoes.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.filtro_img_header {
  width: 100%;
  height: 100%;
  background-color: #14274A50;
  font-size: 30px;
  position: absolute;
}

.menu {
  position: absolute;
  padding-top: 2%;
  font-size: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}  

.btn1{
  color: #ffffff;
  border: none;
  padding: 5px 20px; 
  border-radius: 6px;
  background-color: #75C9C7; 
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center; 
}

.btn1:hover {
  background-color: #83e2e1;
}

.logo img {
  position: absolute;
  top: 0px;
  margin-left: 100px;
  height: 140px; /* Defina a altura desejada para a logo */
}

.links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px; /* Espaçamento horizontal entre os links */
}

.links li a{
  color: #ffffff;
  text-decoration: none;
  margin-right: 40px;
  transition: border-bottom 0.3s ease; /* Adicionando uma transição suave para a borda inferior */
}

.efeitonav:hover {
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .5s;

  border-bottom: 2px solid #ffffff; /* Alterando a cor da borda inferior quando o cursor passar por cima */
}

.p001 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  top: 320px;
  margin-left: 90px;
  color: #ffffff;
}

.h002 {
  position: absolute;
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
  top: 350px;
  margin-left: 90px;
  color: #fff;
}

.p002 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  top: 470px;
  margin-left: 90px;
  color: #fff;
}

.agendar {
  display: flex;
  position: absolute;
  top: 77%;
  margin-left: 50%;
  translate: -50%;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  background-color: #75C9C7; 
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
}

.agendar a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  padding: 14px 16px;
}

.agendar p {
  margin-left: 9px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

.agendar img {
  height: 20px;
}


.agendar:hover {
  background-color: #83e2e1;
}

.scroll{
  display: flex;
  text-align: center;
  font-size: large;
  position: absolute;
  top: 87%;
  margin-left: 50%;
  translate: -50%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.scroll a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
}

.scroll img {
  height: 60px;
  padding: 10px 0px 0px 0px;
}

/* HEAD ☝️☝️☝️ */

/* MAIN 👇👇👇 */

main {
  display: flex;
  justify-content: center;
}

.main-contenier {
  display: flex;
  position: absolute;
  margin-top: 52%;
  /* background-color: orange; */
  height: auto;
  width: 75%;
  justify-content: center;
}

.main-header {
  display: block;
  /* background-color: palevioletred; */
  position: absolute;
  height: auto;
  width: 95%;
  text-align: center;
}
  
.main-header h2 {
  padding: 4% 0%;
  font-size: xx-large;
}

.main-header p {
  font-size: 20px;
}

.section-fots {
  /* background-color: greenyellow; */
  display: flex;
  flex-direction: column;
  width: 95%;
  height: auto;
  margin-top: 20%;
  /* height: 80%; */
  align-items: center;
}

.contenier-fotos {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 41%;
  align-items: center;
  justify-content: center;
}

.rows {
  margin: 2% 0%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#img-config {
  width: 100%;
}

.main-label {
  background-color: #ffffff;
  font-size: 16px;
  padding: 2% 7%;
  translate: 0% -100%;
  color: #14274A;
}

.main-footer {
  margin-top: 117%;
  display: flex;
  flex-direction: column;
  position: absolute;
  /* background-color: orange; */
  align-items: center;
  width: 802px;
  height: 180px;
  text-align: center;
}

.comentarios {
  padding-bottom: 4%;
  font-size: 23px;
}

.comentarios h2 {
  /* font-size: 35px; */
  padding-bottom: 5%;
}

.buttons-comentarios {
  /* background-color: red; */
  text-decoration: none;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  width: 85px;
  font-size: 25px;
}

.buttons-comentarios a {
  background-color: #75C9C7;
  text-decoration: none;
  color: #ffffff;
  padding: 3px 11px;
  border-radius: 7px; 
}

.buttons-dos-comentarios:hover {
  background-color: #83e2e1;
}

  /* MAIN ☝️☝️☝️ */

  /* FOOTER 👇👇👇 */

.puxador {
  width: 0px;
  position: absolute;
  translate: -50%;
  border-left: 130px dotted transparent;
  border-right: 130px solid transparent;
  border-bottom: 100px solid #14274A;
  margin: 2930px 50% 0px 50%;
}

.footer_contenier {
  display: flex;
  position: absolute;
  top: 3000px;
  width: 100%;
  height: 180px;
  background-color:#14274A;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.secao_one {
  display: flex;
  /* background-color: red; */
  height: 130px;
  width: 270px;
  align-items: center;
  justify-content: center;
  margin-left: 6%;
}

.secao_one h2 {
  font-size: 25px;
  letter-spacing: 0.1rem;
  padding-bottom: 8px;
}

.secao_one p {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1rem;
}

.secao_two {
  display: flex;
  /* background-color: pink; */
  height: 130px;
  width: 270px;
  letter-spacing: 0.1rem;
  align-items: center;
  justify-content: center;
}

.secao_two a {
  line-height: 35px;
  color: #fff;
  text-decoration: none;
  font-size: large;
}

.secao_three {
  display: flex;
  /* background-color: green; */
  height: 130px;
  width: 270px;
  letter-spacing: 0.1rem;
  align-items: center;
  justify-content: center;
}

.secao_three a {
  line-height: 35px;
  color: #fff;
  text-decoration: none;
  font-size: large;
  justify-content: center;
  display: block;
}

.secao_three div img {
  align-items: center;
  width: auto;
  height: 17px;
  margin-right: 4px;
  translate: 0px 2px;
}

.secao_for {
  display: flex;
  /* background-color: rgb(9, 114, 26); */
  height: 130px;
  width: 270px;
  letter-spacing: 0.1rem;
  font-size: large;
  align-items: center;
  justify-content: center;
  margin-right: 6%;
}

.div_label {
  display: flex;
  /* background-color: red; */
  width: 100%;
  align-items: center;
  font-size: 16px;
  margin-bottom: 7%;
}

.div_email{
  display: flex;
  /* background-color: orange; */
  border-style: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
}

#email {
  display: inline;
  border: 2px solid #75C9C7;
  height: 45px;
  width: 220px;
  background-color: #14274A;
  color: white;
  padding: 7px;
  border-radius: 4px 0px 0px 4px;  
}

#button-footer {
  border-style: none;
  background-color: #75C9C7;
  height: 45px;
  width: 50px;
  border-radius: 0px 4px 4px 0px ;
}

#button-footer:hover {
  background-color: #83e2e1;
  cursor: pointer;
}