* {
    padding: 0;
    margin: 0;
}

nav {
    background-image: url(../img/fundo_header_inicio.png);
    background-color: rgba(20, 39, 74, 0.5); /* Definindo a cor azul com transparência */
    background-size: cover;
    height: 900px; /* Defina a altura desejada para o nav */
    padding: 20px; /* Espaçamento interno */
    font-size: larger;
  }
  
  .btn1{
    color: #ffffff;
    border: none;
    padding: 6px 18px; 
    border-radius: 8px;
    background-color: #75C9C7; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center; 
  }

  .btn1:hover {
    background-color: #83e2e1;
  }


  .logo img {
    position: absolute;
    top: 0px;
    margin-left: 60px;
    height: 100px; /* Defina a altura desejada para a logo */
  }
  
  .links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px; /* Espaçamento horizontal entre os links */
  }

  .links li a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 40px;
    transition: border-bottom 0.3s ease; /* Adicionando uma transição suave para a borda inferior */
  }

  .efeitonav:hover {
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;

    border-bottom: 2px solid #ffffff; /* Alterando a cor da borda inferior quando o cursor passar por cima */
  }

  .p001{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    top: 300px;
    margin-left: 70px;
    color: #ffffff;
  }

  .h002{
    position: absolute;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    top: 330px;
    margin-left: 70px;
    color: #fff;
  }

  .p002{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    top: 450px;
    margin-left: 70px;
    color: #fff;
  }

  .agendar{
    font-size: large;
    position: absolute;
    top: 75%;
    margin-left: 50%;
    color: #ffffff;
    border: none;
    padding: 12px 15px; 
    border-radius: 8px;
    background-color: #75C9C7; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    text-decoration: none;
  }

  .agendar:hover{
    background-color: #83e2e1;
  }

  .scroll{
    text-align: center;
    font-size: large;
    position: absolute;
    top: 84%;
    margin-left: 50%;
    translate: 45%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  .scroll a {
    text-decoration: none;
    color: #ffffff;
  }

  .scroll img {
    padding: 10px 0px 0px 0px;
  }

  .texto1{
    position: absolute;
    margin-left: 35%;
    top: 1000px;
  }
  
  .texto2{
    font-size: xx-large;
    position: absolute;
    margin-left: 10%;
    top: 1200px;
  }

  .texto3{
    font-size: x-large;
    position: absolute;
    margin-left: 10%;
    top: 1250px;
  }
   
  .explore{
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: #75C9C7;
    color: #fff;
    position: absolute;
    margin-left: 25%;
    top: 1430px;
  }


  .cama{
    height: 400px;
    width: 600px;
    position: absolute;
    margin-left: 850px;
    top: 1150px;
  }
  

  .texto4{
    font-size: xx-large;
    position: absolute;
    margin-left: 10%;
    top: 1750px;
  }

  .texto5{
    font-size: x-large;
    position: absolute;
    margin-left: 10%;
    top: 1800px;
  }
   
  .praia{
    height: 400px;
    width: 600px;
    position: absolute;
    margin-left: 765px;
    top: 1700px;
  }

  .explore2{
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: #75C9C7; 
    color: #fff;
    position: absolute;
    margin-left: 25%;
    top: 1960px;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }